{extend name="public/base" /}
{block name="style"}
<!-- 数字输入框控件 -->
{css href="__STATICS__/jquery.spinner-master/css/bootstrap-spinner.min.css" /}
<!-- 下拉框控件 -->
{css href="__STATICS__/select2/css/select2.min.css" /}
<!-- bootstrap-colorpicker颜色控件 -->
{css href="__STATICS__/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" /}
<!-- bootstrap-datetimepicker时间控件 -->
{css href="__STATICS__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" /}
<!-- iCheck选择框控件 -->
{css href="__STATICS__/iCheck/all.css" /}
<!-- colorbox图片弹窗控件 -->
{css href="__STATICS__/jquery-colorbox/css/colorbox.css" /}
{/block}
{block name="main_body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {volist name="group" id="vo"}
                    <li {eq name="active" value="$key"}class="active"{/eq}><a href="{:url('System/index', ['group_id' => $key])}">{$vo}</a></li>
                    {/volist}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form action="{:url('System/write_save', ['group_id' => $active])}" method="post" class="cui_from_write" enctype="multipart/form-data">
                            <div class="box-body">
                                {volist name="config" id="vo" empty="$empty"}
                                <div class="form-group">
                                    <label>{$vo.title} {if $vo['remark']}（{$vo.remark}）{/if}</label>
                                    {switch $vo['type']}
                                    {case value="0"}
                                    <div class="input-group col-xs-3 spinner" data-trigger="spinner">
                                        <input type="text" name="{$vo.name}" class="form-control" id="{$vo.name}" value="{$vo.value|default='0'}" data-rule="quantity" data-min="0" data-max="9999999999">
                                        <span class="input-group-addon">
                                            <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                                            <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                                        </span>
                                    </div>
                                    {/case}
                                    {case value="1"}<input type="text" name="{$vo.name}" class="form-control" id="{$vo.name}" placeholder="{$vo.title}" value="{$vo.value|default=''}">{/case}
                                    {case value="2"}<textarea class="form-control" name="{$vo.name}" rows="3" id="{$vo.name}" placeholder="{$vo.title}">{$vo.value|default=''}</textarea>{/case}
                                    {case value="3"}<textarea class="form-control" name="{$vo.name}" rows="3" id="{$vo.name}" placeholder="{$vo.title}">{$vo.value|default=''}</textarea>{/case}
                                    {case value="4"}
                                    <select class="form-control select2" id="{$vo.name}" name="{$vo.name}">
                                        {volist name=":parse_config_attr($vo['extra'])" id="group"}
                                        <option value="{$key}" {eq name="vo.value" value="$key"}selected="selected"{/eq}>{$group}</option>
                                        {/volist}
                                    </select>
                                    {/case}
                                    {case value="5"}
                                    <select class="form-control select2" id="{$vo.name}" name="{$vo.name}[]" multiple="multiple" data-placeholder="请选择" >
                                        {volist name=":parse_config_attr($vo['extra'])" id="group"}
                                        <option value="{$key}" {if extra_selected($key, $vo['value'])}selected="selected"{/if}>{$group}</option>
                                        {/volist}
                                    </select>
                                    {/case}
                                    {case value="6"}
                                    <div class="cuiuplode" data-type="images" data-name="{$vo.name}" data-extensions='{:implode(",", $Think.config.config.image_ext)}' data-form-data="" data-file-val="file" data-file-num-limit="1" data-file-single-size-limit="0.5" data-file-size-limit="1" data-server="{:url('Ajax/upload')}" data-value="{$vo.value|default=''}" data-preview="{:url('Ajax/filePath')}">

                                    </div>
                                    {/case}
                                    {case value="7"}
                                    <div class="cuiuplode" data-type="images" data-multi-selection="multiple" data-name="{$vo.name}" data-extensions='{:implode(",", $Think.config.config.image_ext)}' data-form-data="" data-file-val="file" data-file-single-size-limit="0.5" data-file-size-limit="" data-server="{:url('Ajax/upload')}" data-value="{$vo.value|default=''}" data-preview="{:url('Ajax/filePath')}">

                                    </div>
                                    {/case}
                                    {case value="8"}
                                    <div class="cuiuplode" data-type="file" data-name="{$vo.name}" data-extensions='{:implode(",", $Think.config.config.file_ext)}' data-form-data="" data-file-val="file" data-file-num-limit="1" data-file-single-size-limit="0.5" data-file-size-limit="" data-server="{:url('Ajax/upload')}" data-value="{$vo.value|default=''}" data-preview="{:url('Ajax/filePath')}">
                                                                                               -->
                                    </div>
                                    {/case}
                                    {case value="9"}
                                    <div class="cuiuplode" data-type="file" data-multi-selection="multiple" data-name="{$vo.name}" data-extensions='{:implode(",", $Think.config.config.file_ext)}' data-form-data="" data-file-val="file" data-file-single-size-limit="0.5" data-file-size-limit="" data-server="{:url('Ajax/upload')}" data-value="{$vo.value|default=''}" data-preview="{:url('Ajax/filePath')}">

                                    </div>
                                    {/case}
                                    {case value="10"}
                                    <script id="editor" name="{$vo.name}" type="text/plain" style="height:300px;">{$vo.value|default=''|raw}</script>
                                    {/case}
                                    {case value="11"}
                                    <div>
                                        {volist name=":parse_config_attr($vo['extra'])" id="check"}
                                        <label style="padding-right: 10px;"><input type="radio" class="minimal" id="{$vo.name}" name="{$vo.name}" value="{$key}" {if extra_selected($key, $vo['value'])}checked{/if}> {$check}</label> 
                                        {/volist}
                                    </div>
                                    {/case}
                                    {case value="12"}
                                    <div>
                                        {volist name=":parse_config_attr($vo['extra'])" id="check"}
                                        <label style="padding-right: 10px;"><input type="checkbox" class="minimal" id="{$vo.name}" name="{$vo.name}[]" value="{$key}" {if extra_selected($key, $vo['value'])}checked{/if}> {$check}</label> 
                                        {/volist}
                                    </div>
                                    {/case}
                                    {case value="13"}
                                    <div class="input-group col-xs-3">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type='text' class='form-control selectDate' id="{$vo.name}" name="{$vo.name}" value="{if $vo['value']}{:date('Y-m-d', $vo['value'])}{else /}{:date('Y-m-d', time())}{/if}">
                                    </div>
                                    {/case}
                                    {case value="14"}
                                    <div class="input-group col-xs-3">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type='text' class='form-control selectTime' id="{$vo.name}" name="{$vo.name}" value="{if $vo['value']}{:date('Y-m-d H:i:s', $vo['value'])}{else /}{:date('Y-m-d H:i:s', time())}{/if}">
                                    </div>
                                    {/case}
                                    {case value="15"}
                                    <div class="input-group my-colorpicker col-xs-3">
                                        <input type="text" class="form-control" id="{$vo.name}" name="{$vo.name}" value="{$vo.value|default='#000000'}">
                                        <div class="input-group-addon">
                                            <i></i>
                                        </div>
                                    </div>
                                    {/case}
                                    {case value="16"}
                                    <div class="cuiuplode" data-type="audio" data-name="{$vo.name}" data-extensions='{:implode(",", $Think.config.config.audio_ext)}' data-form-data="" data-file-val="file" data-file-num-limit="1" data-file-single-size-limit="" data-file-size-limit="" data-server="{:url('Ajax/upload')}" data-value="{$vo.value|default=''}" data-preview="{:url('Ajax/filePath')}">

                                    </div>
                                    {/case}
                                    {case value="17"}
                                    <div class="cuiuplode" data-type="video" data-name="{$vo.name}" data-extensions='{:implode(",", $Think.config.config.video_ext)}' data-form-data="" data-file-val="file" data-file-num-limit="1" data-file-single-size-limit="" data-file-size-limit="" data-server="{:url('Ajax/upload')}" data-value="{$vo.value|default=''}" data-preview="{:url('Ajax/filePath')}">
                                        
                                    </div>
                                    {/case}
                                    {default /}<input type="text" name="{$vo.name}" class="form-control" id="{$vo.name}" placeholder="{$vo.title}" value="{$vo.value|default=''}">
                                    {/switch}
                                </div>
                                {/volist}
                            </div>
                            {if count($config) > 0}
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary ajax-post submit" target-form="cui_from_write">提 交</button>
                            </div>
                            {/if}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<!-- 数字输入框控件 -->
{js href="__STATICS__/jquery.spinner-master/js/jquery.spinner.min.js" /}
<!-- 下拉框控件 -->
{js href="__STATICS__/select2/js/select2.full.min.js" /}
<!-- jquery.colorbox弹窗控件 -->
{js href="__STATICS__/jquery-colorbox/js/jquery.colorbox-min.js" /}
{js href="__STATICS__/jquery-colorbox/i18n/jquery.colorbox-zh-CN.js" /}
<!-- bootstrap-colorpicker颜色控件 -->
{js href="__STATICS__/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" /}
<!-- bootstrap-datetimepicker时间控件 -->
{js href="__STATICS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker-ZH.js" /}
{js href="__STATICS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" /}
<!-- iCheck选择框控件 -->
{js href="__STATICS__/iCheck/icheck.min.js" /}
<!-- ueditor富文本编辑器 -->
{js href="__STATICS__/ueditor/ueditor.config.js" /}
{js href="__STATICS__/ueditor/ueditor.all.min.js" /}
{js href="__STATICS__/ueditor/lang/zh-cn/zh-cn.js" /}
<!-- jplayer音频控件 -->
{js href="__STATICS__/jplayer/jquery.jplayer.min.js" /}
<script type="text/javascript">
    $(function () {
        //实例化下拉框
        $('.select2').select2();
        //实例化颜色选择
        $('.my-colorpicker').colorpicker();
        //bootstrap-datepicker时间控件实例化
        $('.selectDate').datetimepicker({
            format: 'YYYY-MM-DD', //日期格式化，只显示日期
            locale: 'zh-CN'      //中文化
        });
        $('.selectTime').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss', //日期格式化，只显示日期
            locale: 'zh-CN'      //中文化
        });
        //iCheck单复选框实例化
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        if($('#editor').length){
            //ueditor富文本编辑器实例化
            var ue = UE.getEditor('editor');
        }
        if($('.cuiuplode').length){
            //Uploader上传实例化
            $('.cuiuplode').each(function (index, obj) {
                window['app_path'] = "{:url('Ajax/index')}";
                fileUpload(obj);
            });
        }
        //jPlayer音频实例化
        $(document).on('click', '.jpaudio', function (){
            jplayer($(this));
        });
        $(document).on('click', '.jpvideo', function (){
            var $ext = $(this).data('ext');
            if ($ext == 'mp4'){
                layer.open({
                    type: 2,
                    title: '视频预览',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['893px', '600px'],
                    content: $(this).attr('data-url')
                });
            } else {
                layer.msg('该格式不允许播放预览', {icon: 6});
            }
        });
    });
</script>
{/block}