{extend name="public/base" /}
{block name="style"}
<!-- 选择框控件 -->
{css href="__STATICS__/iCheck/all.css" /}
{/block}
{block name="main_body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <a href="javascript:;" class="btn btn-success btn-sm" id="export"><i class="fa fa-plus"></i> 备份当前数据 </a>
                <a href="{:url('Database/optimize')}" class="btn btn-info btn-sm" id="optimize"><i class="fa fa-check-circle-o"></i> 优化数据表 </a>
                <a href="{:url('Database/repair')}" class="btn btn-primary btn-sm" id="repair"><i class="fa fa-ban"></i> 修复数据表 </a>
            </div>
            <div class="box-body table-responsive">
                <form action="{:url('Database/export')}" method="post" id="export-form">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>
                                <label class='icheck_check-all'>
                                    <input type="checkbox" class="minimal check-all" checked>
                                </label>
                            </th>
                            <th>表名</th>
                            <th>数据量</th>
                            <th>数据大小</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        {volist name="data_list" id="vo"}
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox" class="minimal ids" name="tables[]" value="{$vo.name}" checked>
                                </label>
                            </td>
                            <td>{$vo.name}</td>
                            <td>【{$vo.rows}】 条记录 </td>
                            <td>{$vo.data_length|format_bytes}</td>  
                            <td>{$vo.create_time}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="green btn btn-warning btn-xs" href="{:url('Database/optimize?tables='.$vo['name'])}" id="optimize_{$vo['name']}" title="优化表">
                                        <i class="ace-icon fa fa-check-circle bigger-130"></i> 优化表
                                    </a>
                                    <a class="info btn btn-xs bg-maroon btn-flat" href="{:url('Database/repair?tables='.$vo['name'])}" id="repair_{$vo['name']}" title="修复表">
                                        <i class="ace-icon fa fa-check-square-o bigger-130"></i> 修复表
                                    </a>
                                    <div class="hidden-sm hidden-xs action-buttons" >
                                        <a class="backup" href="javascript:void(0);" title="备份完成" style="display:none;"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<!-- 选择框控件 -->
{js href="__STATICS__/iCheck/icheck.min.js" /}
<script type="text/javascript">
    $(function () {
        //复选框
        $('input[type="checkbox"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
        });
    });
</script>
{/block}