{extend name="public/base" /}
{block name="style"}{/block}
{block name="main_body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>备份名称</th>
                        <th>卷数</th>
                        <th>压缩</th>
                        <th>数据大小</th>
                        <th>备份时间</th>
                        <th>操作</th>
                    </tr>
                    {volist name="data_list" id="vo" empty="$empty"}
                    <tr>
                        <td>{:date('Ymd-His', $vo.time)}</td>
                        <td>{$vo.part}</td>
                        <td>{if $vo['compress'] == 'GZ'}{$vo.compress}{else/}无压缩{/if}</td>
                        <td>{$vo.size|format_bytes}</td>  
                        <td>{$key}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-xs btn-success confirm ajax-get" href="{:url('Database/restore?time='.$vo['time'])}" title="还原">
                                    <i class="ace-icon fa fa-reply-all bigger-130"></i> 还原
                                </a>
                                <a class="btn btn-primary btn-xs db-import" href="{:root()}/data/backup/{:date('Ymd-His', $vo.time)}-{$vo.part}.sql{if $vo['compress'] == 'GZ'}.{$vo.compress|strtolower}{/if}" title="下载">
                                    <i class="ace-icon fa fa-cloud-download bigger-130"></i> 下载
                                </a>
                                <a class="btn btn-xs btn-danger confirm ajax-get" href="{:url('Database/del?time='.$vo['time'])}" title="删除">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i> 删除
                                </a>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}{/block}