{extend name="public/base" /}
{block name="main_body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{$meta_title}</h3>
            </div>
            <form action="{:url('Auth/write_group')}" method="post" class="cui_from_write">
                {present name="id"}<input type="hidden" name="id" value="{$auth_group.id}" />{/present}
                <div class="box-body">
                    <div class="form-group">
                        <label>用户组 （权限分组名称）</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="请输入权限组名称" value="{$auth_group.title|default=''}">
                    </div>
                    <div class="form-group">
                        <label>描述 （权限分组描述）</label>
                        <textarea class="form-control" name="description" rows="3" placeholder="请输入权限组描述">{$auth_group.description|default=''}</textarea>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary ajax-post submit" target-form="cui_from_write">提 交</button>
                    <a href="{:url('Auth/index')}" class="btn btn-primary">返 回</a>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}