{extend name="public/base" /}
{block name="style"}
<!-- tree控件 -->
{css href="__STATICS__/zTree_v3/css/metroStyle/metroStyle.css" /}
{/block}
{block name="main_body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{$meta_title}</h3>
            </div>
            <form action="{:url('Auth/rule_group')}" method="post" class="cui_from_write">
                {present name="id"}<input type="hidden" name="id" value="{$id}" />{/present}
                <ul id="treeMenu" class="ztree"></ul>
                <div class="input_group"></div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary submit ajax-post" target-form="cui_from_write">提 交</button>
                    <a href="{:url('Auth/index')}" class="btn btn-primary">返 回</a>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<!-- tree控件 -->
{js href="__STATICS__/zTree_v3/js/jquery.ztree.core.js" /}
{js href="__STATICS__/zTree_v3/js/jquery.ztree.excheck.js" /}
<script type="text/javascript">
    $(function () {
        //tree
        var setting = {
            check: {
                //是否显示 checkbox / radio
                enable: true
            },
            view: {
                //设置 name 属性是否支持 HTML 脚本
                nameIsHTML: true,
                //不现实icon图标
                showIcon: false
            },
            callback: {   
                onClick: function (e, treeId, treeNode, clickFlag) {   
                    zTree.checkNode(treeNode, !treeNode.checked, true);
                    console.log(treeNode.id);
                }   
            }
        }
        //菜单节点
        var zNodes = {$ztree|raw};
        //ztree初始化
        $.fn.zTree.init($("#treeMenu"), setting, zNodes);
        //全部展开
        var zTree = $.fn.zTree.getZTreeObj("treeMenu");
        zTree.expandAll(true);
        //默认选中
        var tree_array = {$rules|raw};
        if (tree_array[0]) {
            for (var i = 0; i < tree_array.length; i++) {
                var node = zTree.getNodeByParam("id", tree_array[i]);
                zTree.checkNode(node, true, false, true);
            }
        }
        //获取节点值
        $(".submit").on("click", function () {
            $('.input_group').html('');
            var nodes = zTree.getCheckedNodes(true);
            for (var i = 0; i < nodes.length; i++) {
                $('.input_group').append('<input type="hidden" name="rule[]" value="' + nodes[i]['id'] + '" />')
            }
            return false;
        });
    });
</script>
{/block}