{extend name="public/base" /}
{block name="style"}
<!-- 选择框控件 -->
{css href="__STATICS__/iCheck/all.css" /}
{/block}
{block name="main_body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{$meta_title}</h3>
            </div>
            <form action="{:url('Menu/write_menu')}" method="post" class="cui_from_write">
                {present name="id"}<input type="hidden" name="id" value="{$rule.id}" />{/present}
                <div class="box-body">
                    <div class="form-group">
                        <label>上级菜单 （所属的上级菜单）</label>
                        <select class="form-control" id="pid" name="pid">
                            <option value="0">顶级菜单</option>
                            {$menu_select|raw}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>名称 （系统后台显示菜单名称）</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="请输入菜单名称" value="{$rule.title|default=''}">
                    </div>
                    <div class="form-group">
                        <label>排序值 （用户菜单的排序，默认为 0）</label>
                        <input type="text" name="sort" class="form-control" id="sort" placeholder="请输入菜单排序" value="{$rule.sort|default='0'}">
                    </div>
                    <div class="form-group">
                        <label>链接 （url函数解析的URL或者外链）</label>
                        <input type="text" name="url" class="form-control" id="url" placeholder="请输入菜单链接" value="{$rule.url|default=''}">
                    </div>
                    <div class="form-group">
                        <label>附加条件 （附加条件）</label>
                        <input type="text" name="condition" class="form-control" id="condition" placeholder="请输入附加条件" value="{$rule.condition|default=''}">
                    </div>
                    <div class="form-group">
                        <label>是否隐藏 （若隐藏则在菜单中不显示）</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="hide" class="minimal" value="1" {if isset($rule['hide']) && $rule['hide'] == 1}checked="checked"{/if}>显示
                            </label>
                            <label>
                                {php}if(!isset($rule['hide']))$rule['hide']=0;{/php}
                                <input type="radio" name="hide" class="minimal" value="0" {if isset($rule['hide']) && $rule['hide'] == 0}checked="checked"{/if}>隐藏
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>权限检测 （不检测则不会检查权限）</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="inspect" class="minimal" value="1" {if isset($rule['inspect']) && $rule['inspect'] == 1}checked="checked"{/if}>检查
                            </label>
                            <label>
                                {php}if(!isset($rule['inspect']))$rule['inspect']=0;{/php}
                                <input type="radio" name="inspect" class="minimal" value="0" {if isset($rule['inspect']) && $rule['inspect'] == 0}checked="checked"{/if}>不检查
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>图标 （菜单小图标，为空则显示系统默认图标）</label>
                        <div class="input-group input-group-sm">
                            <input type="text" name="icon" class="form-control" id="icon" placeholder="请选择菜单图标" value="{$rule.icon|default=''}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info btn-flat icons">点击选择图标</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>说明 （菜单说明）</label>
                        <input type="text" name="tip" class="form-control" id="tip" placeholder="请输入菜单说明" value="{$rule.tip|default=''}">
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary ajax-post submit" target-form="cui_from_write">提 交</button>
                    <a href="{:url('Menu/index')}" class="btn btn-primary">返 回</a>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<!-- 选择框控件 -->
{js href="__STATICS__/iCheck/icheck.min.js" /}
<script type="text/javascript">
    $(function () {
        //复选框
        $('input[type="radio"].minimal').iCheck({
            radioClass: 'iradio_minimal-blue'
        });
        $('.icons').on('click', function () {
            layer.open({
                type: 2,
                title: 'Icons',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: "{:url('Menu/icons')}"
            });
        });
    });
</script>
{/block}